services:
  - type: web
    name: SaS-Pay
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn sas:app 

    # sqlite will just create the sas.db file locally inside the app container
